@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-nunito-sans);
  --font-mono: var(--font-fira-mono);
}

@media (prefers-color-scheme: light) {
  :root {
    --background: #030303;
    --foreground: #fdfdfd;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
}

h1 {
  font-size: 3rem;
  color: var(--background);
}

h2 {
  font-size: 2.5rem;
  color: #030303;
}

p {
  font-size: 1rem;
  line-height: 1.5;
}
