@import "tailwindcss";

:root {
  --background: #f8f8f8;
  --foreground: #171717;
  --font-sans: var(--font-nunito-sans);
  --font-mono: var(--font-fira-mono);
}

@media (prefers-color-scheme: light) {
  :root {
    --background: #030303;
    --foreground: #f8f8f8;
  }
}

html {
  @apply overflow-y-scroll;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
}
